@model __BaseSitecoreModule
@using Feature.SitecoreModule.Models
@{
    Layout = null;
}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            @Html.Sitecore().Field(__BaseSitecoreModule.FieldIds.ModuleName.ToString(), Model.InnerItem)
        </h1>
        <p>
            Repository: 
            @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
            {
                @Html.Sitecore().Field(__BaseSitecoreModule.FieldIds.GitRepository.ToString(), Model.InnerItem)
            }
            else
            {
                <a href="@Model.GitRepository" target="_blank">
                    @Model.GitRepository
                </a>
            }
        </p>
        <p>
            @Html.Sitecore().Field(__BaseSitecoreModule.FieldIds.Description.ToString(), Model.InnerItem)
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#downloadModal">
                Download
            </a>
        </p>
    </div>
</div>